* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 25px;
  height: 100vh;
}

.ust {
  /* height: 270px; */
  height: 25vh;
  /* width: 460px; */
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 15px;
}
.alt {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* width: 250px; */
  text-align: center;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

.alt button {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 2px;
  background: #333;
  color: white;
  font-size: 40px;
}
.genel {
  /* height: 820px; */
  height: 85vh;
  width: 300px;
  /* width: 460px; */
  margin: auto;
  border-radius: 35px;
  background-color: black;
}
.alt .function {
  /* color: black; */
  background: #a5a5a5;
  color: black;
}

.alt button.operator {
  background: #f1a33c;
}
.alt .sıfır {
  grid-column: 1 / span 2;
}
.alt button:hover {
  opacity: 0.6;
}
.alt button:active {
  background-color: #f1a33c;
  opacity: 1;
  color: white;
}
.sıfır .zero {
  /* width: 212px; */
  width: 150px;
  padding-right: 95px;
  border-radius: 50px;
}

.ustbilgi1 {
  height: 90px;
  height: 100%;
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;

}
.ustbilgi2 {
  height: 90px;
  line-height: 50px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: flex-end;

}
